<header>
    <nav>
        <%= image_tag("logo.png", alt: "Super-Heroic Flix") %>
        <ul class="left">
            <li><%= nav_link_to "Released", movies_path %></li>
            <li><%= nav_link_to "Upcoming", filtered_movies_path(filter: "upcoming") %></li>
            <li><%= nav_link_to "Recent", filtered_movies_path(filter: "recent") %></li>
            <li><%= nav_link_to "Hits", filtered_movies_path(filter: "hits") %></li>
            <li><%= nav_link_to "Flops", filtered_movies_path(filter: "flops") %></li>
        </ul>
        <ul class="right">
            <% if current_user %>
                <li><%= link_to current_user.name, current_user %></li>
                <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
                <li>
                    <%= button_to "Sign Out", session_path(current_user), method: :delete %>
                </li>
            <% else %>
                <li><%= link_to "Sign In", signin_path %></li>
                <li><%= link_to "Sign Up", signup_path %></li>
            <% end %>
        </ul>
    </nav>
</header>
